<header class="header">
    <div class="container container-header">
        <nav class="nav-header">
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-menu-link" href="/">Главная</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="/posts">Добавление постов</a></li>
            </ul>
        </nav>
    </div>
</header>