<header class="header">
    <div class="container">
        <nav class="nav-header">
            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/posts">Добавление постов</a></li>
            </ul>
        </nav>
    </div>
</header>