<form method="POST" action="" class="form-registration">
    <input required class="form-registr-input" type="email" name="email" placeholder="Email">
    <input required class="form-registr-input" type="password" name="password" placeholder="Password">
    <button class="form-registr-button" type="submit">Войти</button>
</form>