<form method="POST" action="/user/signup" class="form-registration">
    <input required class="form-registr-input" type="name" name="name" placeholder="Name">
    <input required class="form-registr-input" type="email" name="email" placeholder="Email">
    <input required class="form-registr-input" type="password" name="password" placeholder="Password">
    <button class="form-registr-button" type="submit">Отправить</button>
</form>